<connectionStrings>
	<add name="WinShopConnection" connectionString="data source=DESKTOP-BGVA95A\MSSQLSERVER2012;initial catalog=WinShop;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
